<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" verbose="false">

	<!-- [ALL] TRACE, DEBUG, INFO, WARN, ERROR, FATAL [OFF] -->
	
	<properties>
		<property name="filters">org.junit,org.apache.maven,sun.reflect,java.lang.reflect</property>
	</properties>

	<Appenders>
		<Console name="flow">
			<filters>
				<!-- Accept FLOW logEvents passthrough others logEvents -->
				<MarkerFilter marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
				<!-- Accept EXCEPTION logEvents, deny others -->
				<MarkerFilter marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
			</filters>
			<!-- this pattern outputs class name and method name - this is slow-->
			<PatternLayout pattern="%d{ABSOLUTE} [FLOW ] %class.%method %msg%n"/>
		</Console>

		<Console name="stdout" target="SYSTEM_OUT">
			<filters>
				<!-- filter out FLOW and EXCEPTION logEvents, NEUTRAL on others logEvents -->
				<MarkerFilter marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
				<MarkerFilter marker="EXCEPTION" onMatch="DENY" onMismatch="NEUTRAL"/>
			</filters>
			<PatternLayout pattern="%d{ABSOLUTE} [%-5level] %50logger{5.} - %msg%xEx{filters(${filters})}%n"/>
<!-- 			<PatternLayout pattern="%black{%d{ISO8601}} %blue{[%t]} %yellow{%-5level:} %green{%msg%n%throwable}"/> -->
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.mybatis.jpetstore" level="debug" />
		<Logger name="org.mybatis.spring" level="debug" />

		<Root level="info">
			<AppenderRef ref="stdout"/>
			<AppenderRef ref="flow"/>
		</Root>
	</Loggers>

</Configuration>
