#body-content {
	background-color: white;
}


#stf-viewport {
	background-color: yellow;
}

#stf-header {
	background-color: teal;
}

#stf-body {
	background-color: red;
}

#stf-footer {
	background-color: teal;
}
