#body-content {
	background-color: white;
}


#stf-viewport {
	background-color: yellow;
}

#stf-north {
	background-color: teal;
}

#stf-center {
	background-color: red;
}

#stf-south {
	background-color: teal;
}
